<ion-view view-title="Home">
  <ion-content>
    <form class="list" ng-submit="search(city)">
      <label class="item item-input">
        <input type="text" placeholder="Ville" ng-model="city">
      </label>
      <div class="padding">
        <button class="button button-block button-positive">Envoyer</button>
      </div>
    </form>
  </ion-content>
</ion-view>
